:root {
  --color-primary: #333;
  --color-secondary: #555;
  --color-border: #e0e0e0;
  --color-background: #f4f4f4;
  --color-hover: #f5f5f5;

  --spacing-sm: 8px;
  --spacing-md: 15px;
  --spacing-lg: 20px;

  --border-radius: 5px;
  --border-radius-lg: 8px;

  --border-width-agent: 3px;
  --color-agent01: #942d40;
  --color-agent02: #ec754f;
  --color-agent03: #bcdaf2;
  --color-agent04: #062d68;
  --color-agent05: #ebdf83;

  --highlight-width: 60%;
  --highlight-color-agent01: #942d40bb;
  --highlight-color-agent02: #ec754fbb;
  --highlight-color-agent03: #bcdaf2bb;
  --highlight-color-agent04: #062d68bb;
  --highlight-color-agent05: #ebdf83bb;

  --over-opacity: 0.4;
}
/* 
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
} */
